body {
  background: #1c1d26 url("../images/background.jpg") no-repeat center / cover;
  font-family: Tahoma, Verdana, Arial, Sans-serif;
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
body {
  color: white;
}
#content {
  width: 950px;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform-origin: left top;
  padding: 1em;
}
.star {
  margin-bottom: 40px;
}

.links {
  position: absolute;
  right: 20px;
  top: 20px;
}
.links a {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.links a:last-child {
  margin-left: 10px;
}
.links a svg {
  width: 100%;
  height: 100%;
}
.links a img {
  width: 100%;
  height: 100%;
}
